.nav-link-custom {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #0d6efd;
    color: white !important;
    transition: all 0.3s ease, transform 0.2s ease;
}

.nav-link-custom:hover {
    background-color: #093d8b;
    transform: scale(1.1);
    text-decoration: none;
}
.home-card-custom {
    transition: all 0.3s ease;
}
.home-card-custom:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 10px rgba(255, 245, 101, 0.411);
}
